@use "helpers" as *;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

html.is-lock {
  overflow: hidden;
}

.c-wrapper {
  --color-dark: #0f0f0f;
  --color-dark-light: #707070;
  --color-accent: #fff04b;
  --header-mobile-height: #{fluid(62, 90)};
  --container-width: #{rem(1560)};
  --container-padding-x: #{rem(20)};
  --section-padding-y: #{fluid(40, 80)};

  overflow: hidden;
  position: relative;
  color: var(--color-dark);
  font-family: "Montserrat", sans-serif;
}

.c-section {
  padding-block: fluid(60, 80);

  &--gray {
    background-color: #f4f4f4;
  }
}

.c-base-text {
  color: #252525;
  font-size: fluid(16, 20);
  font-weight: 400;
  line-height: 1.4;

  &--white {
    color: #fff;
  }

  p {
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    &:not(:last-of-type) {
      margin-bottom: rem(12);
    }
  }
}

.c-heading-large {
  color: var(--color-dark);
  font-size: fluid(32, 45);
  font-weight: 700;
  line-height: 1;
  margin-bottom: fluid(12, 16);

  &--white {
    color: #fff;
  }
}

.c-container {
  max-width: var(--container-width);
  padding-inline: var(--container-padding-x);
  margin-inline: auto;
}

@include large {
  br {
    display: none !important;
  }
}
