@use "helpers" as *;

.inline-icon {
  --size: #{rem(20)};
  --gap: #{rem(10)};
  --offset-y: #{rem(0)};

  display: flex;
  align-items: center;
  column-gap: var(--gap);

  &::before {
    width: var(--size);
    height: var(--size);
    transform: translateY(var(--offset-y));
    content: "";
    flex-shrink: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &--location {
    &::before {
      --size: #{rem(18)};
      --offset-y: #{rem(-2)};
      background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2212%22%20height%3D%2215%22%20viewBox%3D%220%200%2012%2015%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M5.45312%2014.4766C1.46094%208.73438%200.75%208.13281%200.75%206C0.75%203.10156%203.07422%200.75%206%200.75C8.89844%200.75%2011.25%203.10156%2011.25%206C11.25%208.13281%2010.5117%208.73438%206.51953%2014.4766C6.27344%2014.8594%205.69922%2014.8594%205.45312%2014.4766ZM6%208.1875C7.20312%208.1875%208.1875%207.23047%208.1875%206C8.1875%204.79688%207.20312%203.8125%206%203.8125C4.76953%203.8125%203.8125%204.79688%203.8125%206C3.8125%207.23047%204.76953%208.1875%206%208.1875Z%22%20fill%3D%22%230F0F0F%22%2F%3E%3C%2Fsvg%3E");
    }
  }

  &--email {
    &::before {
      --size: #{rem(18)};
      background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2215%22%20height%3D%2211%22%20viewBox%3D%220%200%2015%2011%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M14.3277%203.52246C14.4371%203.44043%2014.6012%203.52246%2014.6012%203.65918V9.2373C14.6012%209.97559%2013.9996%2010.5498%2013.2887%2010.5498H1.91367C1.17539%2010.5498%200.601172%209.97559%200.601172%209.2373V3.65918C0.601172%203.52246%200.737891%203.44043%200.847266%203.52246C1.47617%204.01465%202.26914%204.61621%205.0582%206.63965C5.63242%207.0498%206.6168%207.95215%207.60117%207.95215C8.5582%207.95215%209.56992%207.0498%2010.1168%206.63965C12.9059%204.61621%2013.6988%204.01465%2014.3277%203.52246ZM7.60117%207.0498C6.94492%207.07715%206.04258%206.25684%205.57773%205.92871C1.94102%203.30371%201.66758%203.05762%200.847266%202.40137C0.683203%202.29199%200.601172%202.10059%200.601172%201.88184V1.3623C0.601172%200.651367%201.17539%200.0498047%201.91367%200.0498047H13.2887C13.9996%200.0498047%2014.6012%200.651367%2014.6012%201.3623V1.88184C14.6012%202.10059%2014.4918%202.29199%2014.3277%202.40137C13.5074%203.05762%2013.234%203.30371%209.59727%205.92871C9.13242%206.25684%208.23008%207.07715%207.60117%207.0498Z%22%20fill%3D%22%230F0F0F%22%2F%3E%3C%2Fsvg%3E");
    }
  }

  &--cell {
    &::before {
      --size: #{rem(24)};
      --offset-y: #{rem(-2)};
      background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2212%22%20height%3D%2219%22%20viewBox%3D%220%200%2012%2019%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M9.9375%200.75C10.8516%200.75%2011.625%201.52344%2011.625%202.4375V17.0625C11.625%2018.0117%2010.8516%2018.75%209.9375%2018.75H2.0625C1.11328%2018.75%200.375%2018.0117%200.375%2017.0625V2.4375C0.375%201.52344%201.11328%200.75%202.0625%200.75H9.9375ZM6%2017.625C6.59766%2017.625%207.125%2017.1328%207.125%2016.5C7.125%2015.9023%206.59766%2015.375%206%2015.375C5.36719%2015.375%204.875%2015.9023%204.875%2016.5C4.875%2017.1328%205.36719%2017.625%206%2017.625ZM9.9375%2013.8281V2.85938C9.9375%202.64844%209.72656%202.4375%209.51562%202.4375H2.48438C2.23828%202.4375%202.0625%202.64844%202.0625%202.85938V13.8281C2.0625%2014.0742%202.23828%2014.25%202.48438%2014.25H9.51562C9.72656%2014.25%209.9375%2014.0742%209.9375%2013.8281Z%22%20fill%3D%22%230F0F0F%22%2F%3E%3C%2Fsvg%3E");
    }
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}
