@use "../helpers/" as *;

.c-bottom {

  ul {
    margin-top: rem(16);
    padding-left: rem(20);
    li {
      list-style-position: outside !important;
      &:not(:last-child) {
        margin-bottom: 1rem !important;
      }

      p {
        margin-bottom: 0 !important;
      }
    }
  }
}
