@use "../helpers/" as *;

.c-button {
  text-align: center;
  color: #0f0f0f;
  font-size: rem(16);
  font-weight: 700;
  line-height: 1.125;
  text-transform: uppercase;
  padding-block: rem(16);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  @include hover {
    background-color: var(--color-dark);
    color: #fff;
  }

  &--primary {
    padding-inline: rem(50);
    background-color: var(--color-accent);
  }

  &--secondary {
    padding-inline: rem(60);
    border: rem(1) solid var(--color-dark);
  }
}
