@use "../helpers/" as *;

.c-services {
  background-color: #32a3f3;
  background-size: contain;
  background-position: center 10%;
  background-repeat: no-repeat;

  @include medium {
  }

  &__container {
    @include x-small {
      padding-right: 0;
    }
  }

  &__header {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: fluid(32, 40);
  }

  &__slider {
    overflow: hidden;
  }

  &__slider-wrapper {
  }

  &__item {
    overflow: hidden;
  }

  &__item-link {
    @include hover {
      .c-services__item-image {
        transform: scale(1.05);
      }
    }
  }

  &__item-title {
    text-align: center;
    font-size: rem(16);
    font-weight: 700;
    line-height: 1.25;
    padding: rem(14) rem(16);
    background-color: #fff;
    position: relative;
    z-index: 2;
    margin-bottom: 0 !important;
  }

  &__item-image {
    transition: transform 0.3s ease;
    width: 100%;
  }

  &__navigation {
    margin-top: fluid(32, 70);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: fluid(16, 24);
  }

  &__pagination {
    display: flex;
    width: 100%;
    max-width: max-content;
    justify-content: center;

    .swiper-pagination-bullet {
      width: rem(9);
      height: rem(9);
      background-color: transparent;
      border: rem(2) solid #fff;
      opacity: 1;

      &.swiper-pagination-bullet-active {
        background-color: #fff;
      }
    }
  }

  &__navigation-button {
    &--prev {
      transform: rotate(180deg);
    }
    &--next {
    }
  }
}
