<header class="c-header" data-js-header>
  <div class="c-header__container c-container">
    <div class="c-header__top">
      <div class="c-header__top-left">
        <ul class="c-header__top-left-list">
          <li class="c-header__top-left-item">
            <a class="c-header__top-left-link inline-icon inline-icon--location" href="#" data-adaptive-dom="c-overlay-column-left,1399.98,first">3800 S Ocean Dr. #230 Hollywood, FL 33019</a>
          </li>
          <li class="c-header__top-left-item">
            <a class="c-header__top-left-link inline-icon inline-icon--email" href="#" data-adaptive-dom="c-overlay-column-left,1399.98,2">info@gitelcare.com</a>
          </li>
        </ul>
      </div>
      <div class="c-header__top-right">
        <a href="#" class="c-header__top-right-bage" data-adaptive-dom="c-overlay-column-right,1399.98,first">
          <img src="/images/mdvip.webp" alt="mdvip" />
        </a>
        <a href="#" class="c-header__top-right-cell inline-icon inline-icon--cell" data-adaptive-dom="c-overlay-column-left,1399.98,1">305-771-0034</a>
      </div>
    </div>
    <div class="c-header__bottom">
      <a href="#" class="c-header__logo">
        <img src="/images/logo.webp" alt="logo" />
      </a>
      <nav class="c-header__nav" data-adaptive-dom="c-overlay-inner,1399.98,first">
        <ul class="c-header__menu-list">
          <li class="c-header__menu-item has-children">
            <a href="#" class="c-header__menu-link">Who We Are</a>
            <ul class="c-header__submenu-list">
              <li class="c-header__submenu-item">
                <a href="#" class="c-header__submenu-link">About GitelCare</a>
              </li>
              <li class="c-header__submenu-item">
                <a href="#" class="c-header__submenu-link">About Dr. Dimitri</a>
              </li>
              <li class="c-header__submenu-item">
                <a href="#" class="c-header__submenu-link">Testimonials</a>
              </li>
              <li class="c-header__submenu-item">
                <a href="#" class="c-header__submenu-link">FAQ</a>
              </li>
              <li class="c-header__submenu-item">
                <a href="#" class="c-header__submenu-link">GitelStore, Events and More</a>
              </li>
            </ul>
          </li>
          <li class="c-header__menu-item">
            <a href="#" class="c-header__menu-link">Programs</a>
          </li>
          <li class="c-header__menu-item has-children">
            <a href="#" class="c-header__menu-link">Services</a>
            <ul class="c-header__submenu-list">
              <li class="c-header__submenu-item">
                <a href="#" class="c-header__submenu-link">About GitelCare</a>
              </li>
              <li class="c-header__submenu-item">
                <a href="#" class="c-header__submenu-link">About Dr. Dimitri</a>
              </li>
              <li class="c-header__submenu-item">
                <a href="#" class="c-header__submenu-link">Testimonials</a>
              </li>
              <li class="c-header__submenu-item has-children">
                <a href="#" class="c-header__submenu-link">GLP-1 Weight Loss Injections</a>
                <ul class="c-header__submenu-list">
                  <li class="c-header__submenu-item">
                    <a href="#" class="c-header__submenu-link">Semaglutide</a>
                  </li>
                  <li class="c-header__submenu-item">
                    <a href="#" class="c-header__submenu-link">Tirzepatide</a>
                  </li>
                </ul>
              </li>
              <li class="c-header__submenu-item">
                <a href="#" class="c-header__submenu-link">GitelStore, Events and More</a>
              </li>
            </ul>
          </li>
          <li class="c-header__menu-item">
            <a href="#" class="c-header__menu-link">Biohacking</a>
          </li>
          <li class="c-header__menu-item">
            <a href="#" class="c-header__menu-link">Blog</a>
          </li>
          <li class="c-header__menu-item">
            <a href="#" class="c-header__menu-link">Contact Us</a>
          </li>
        </ul>
      </nav>
      <div class="c-header__actions">
        <div class="c-header__lang-switcher" data-adaptive-dom="c-overlay-column-right,1399.98,last">EN</div>
        <a href="#" class="c-header__button c-button c-button--primary" data-adaptive-dom="c-overlay-inner,1399.98,1">Book Online</a>
      </div>

      <button class="c-header__menu-toggle c-header__menu-toggle--mobile" data-js-header-trigger-button>
        <div class="c-header__menu-toggle-container">
          <div class="c-header__menu-toggle-icon">
            <div class="c-header__menu-toggle-line c-header__menu-toggle-line--top"></div>
            <div class="c-header__menu-toggle-line c-header__menu-toggle-line--middle"></div>

            <div class="c-header__menu-toggle-cross">
              <div class="c-header__menu-toggle-cross-line c-header__menu-toggle-cross-line--left"></div>
              <div class="c-header__menu-toggle-cross-line c-header__menu-toggle-cross-line--right"></div>
            </div>
          </div>
        </div>
      </button>
    </div>
  </div>

  <div class="c-overlay" data-js-header-overlay>
    <div class="c-overlay__inner" id="c-overlay-inner">
      <div class="c-overlay__footer">
        <div class="c-overlay__column c-overlay__column--left" id="c-overlay-column-left"></div>
        <div class="c-overlay__column c-overlay__column--right" id="c-overlay-column-right"></div>
      </div>
    </div>
  </div>
</header>
